HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/


/code/auto-code-generator/target/
/code/auto-code-generator/src/main/java/temp/

/code/auto-code-generator/.classpath
/code/auto-code-generator/.project
/code/auto-code-generator/.settings
/code/auto-code-generator/.springBeans
/code/auto-code-generator/var/

